body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(images/first.jpg);
    background-position: -2px 40px;
    background-size: 2000px;
    background-repeat: no-repeat;
}


header {
    background-color: #179a98;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

main {
    margin: 20px;
    text-align: center;
}

#booking-section {
    background-color: pink;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    margin: 0 0 20px;
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 400px 0px 0px 0px;
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #fff;

}